.green {
  display: inline-block;
  border: 2px solid "#aed581";
  width: 20px;
}
.spinner {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.username {
  font-size: 14px;
  color: #6b6b6b;
}
.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.task-status {
  font-size: 13px;
  color: #6b6b6b;
  cursor: pointer;
}
.done {
  color: #66bb6a;
}
.unfinished {
  color: #e57373;
}
.text-done {
  text-decoration: line-through;
}
